@import "./variables";

.btn-primary.text-light.px-4 {
    color: $dfWhite;
    background-color: $dfOrange;
    border: $dfOrange;
}

.btn.btn-outline-primary.px-4 {
    color: $dfOrange;
    font-family: "Roboto" !important;
    background: $dfWhite;
    background-color: $dfWhite;
}

.btn.btn-outline-primary.px-4:hover {
    background: $dfOrange;
    color: $dfWhite;
}

.btn.btn-outline-primary.px-4:hover {
    background: $dfOrange;
    color: $dfWhite;
}
