@import "./variables";

.btn-primary.text-light.px-4 {
    color: $dfWhite;
    background-color: $dfOrange;
    border: $dfOrange;
}

.btn.btn-outline-primary.px-4 {
    color: $dfOrange !important;
    font-family: "Roboto" !important;
    background: white !important;
    background-color: $dfWhite !important;
}

.btn.btn-outline-primary.px-4.my-1.ms-xl-4:hover {
    background-color: $dfOrange !important;
    color: $dfWhite !important;
}

.btn.btn-outline-primary.px-4:hover {
    background-color: $dfOrange !important;
    color: $dfWhite !important;
}
