@import "./variables";

.hero-title {
    font-family: "Roboto Thin" !important;


    color: $dfBlack;
    strong {
        font-family: "Roboto Light" !important;
        color: $dfOrange !important;
    }
}
